.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  border-radius: 8px;
  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 100%
  );
  color: rgb(135, 135, 135);
  padding: 16px;
}

.Weather h1 {
  color: rgb(33, 33, 33);
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: 20px 0 5px 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  line-height: 1;
  text-align: left;
  list-style: none;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-left: 5px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: normal;
  color: rgb(33, 33, 33);
  font-size: 56px;
  line-height: 64px;
  margin-left: 7px;
}

.Weather .unit {
  padding-top: 7px;
  font-weight: light;
  font-size: 14px;
}
