.Weather {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  max-width: 500px;
  margin: 40px auto 20px auto;
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: rgba(37, 39, 89, 0.09) 0px 10px 15px 0;
  background: rgba(255, 255, 255, 0.6);
}

.Weather .search-button,
.Weather .my-location-button {
  border: 1px solid rgba(32, 33, 36, 0.2);
}
.Weather .search-button:hover,
.Weather .my-location-button:hover {
  background: #ececec;
}

.Weather h1 {
  color: rgb(32, 33, 36);
  display: block;
  font-size: 38px;
  font-weight: 100;
  line-height: 1;
  text-align: left;
  margin: 20px 0 12px 0;
}

.Weather ul {
  margin: 0 0 20px 0;
  padding: 0;
}

.Weather li {
  color: rgba(32, 33, 36, 0.7);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.WeatherInfo img {
  width: 91px;
  height: 91px;
  margin-right: 5px;
}

.WeatherInfo .CurrentTemperature {
  margin-top: 10px;
}

.WeatherInfo .CurrentTemperature .d-flex {
  justify-content: end;
}

@media (max-width: 576px) {
  form .col-2 {
    padding-left: 1px;
  }

  .WeatherInfo {
    text-align: center;
  }

  .Weather h1 {
    text-align: center;
  }

  .WeatherInfo .CurrentTemperature {
    margin: 0 auto;
  }

  .WeatherInfo .CurrentTemperature .d-flex {
    justify-content: center;
  }

  .WeatherInfo .Description {
    border-bottom: 1px solid rgba(32, 33, 36, 0.5);
    padding-bottom: 20px;
  }

  footer {
    font-size: 10px;
  }
}
