.Weather {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  max-width: 500px;
  margin: 40px auto 20px auto;
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: rgba(37, 39, 89, 0.09) 0px 10px 15px 0;
  background: rgba(255, 255, 255, 0.6);
}

.Weather .search-button,
.Weather .my-location-button {
  border: 1px solid rgba(32, 33, 36, 0.2);
}
.Weather .search-button:hover,
.Weather .my-location-button:hover {
  background: #ececec;
}

.Weather h1 {
  color: rgb(32, 33, 36);
  display: block;
  font-size: 38px;
  font-weight: 100;
  line-height: 32px;
  text-align: left;
  margin: 20px 0 15px 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: rgba(32, 33, 36, 0.7);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  width: 91px;
  height: 91px;
  margin-right: 5px;
}
