.WeatherForecast {
  text-align: center;
  font-size: 14px;
  color: rgba(32, 33, 36, 0.7);
}

.WeatherForecast-min-temp {
  opacity: 0.6;
  margin-left: 4px;
}

.WeatherForecast img {
  width: 56px;
  height: 56px;
}

@media (max-width: 992px) {
  .WeatherForecast {
    margin-top: 10px;
  }
}
